<!DOCTYPE html>
<html>
  <head>
    <title>Gmail | Log in</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="main">
      <div class="signup">
        <form action="/login" method="post" autocomplete="off">
          <h1>Log in</h1>
          <a href="/">Don't have an account ?</a>
          <div class="input-field">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" />
          </div>

          <div class="input-field">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" />
          </div>

          <button>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
